*,body{margin:0;padding:0;font-family: "微软雅黑";}
p{text-align: center;}
#user-info{height: 10em;width: 6em;margin:1em auto;text-align: center;}
#user-pic{height: 6em;width: 6em;border-radius: 50%;background: url(../img/record/timeline-face.png);background-size: 100%;}
.form-content:{color: #12c0d0;} 
fieldset{border:none;border-top:#d4d4d4 1px solid;text-align: center;margin: 0.5em;font-family: "黑体"}
.course{height: 3em;width: 3em;border-radius: 50%;}
.course-name{font-size: 14px;color:#828282;margin-right:1em; }
.course-show{width: 15em;height: 1em;background: #EEE;}
.eq{background: url(../img/course/eq.png) no-repeat;background-size: 100%;}
.yuwen{background: url(../img/course/yuwen.png) no-repeat;background-size: 100%;}
.math{background: url(../img/course/math.png) no-repeat;background-size: 100%;}
.english{background: url(../img/course/english.png) no-repeat;background-size: 100%;}
.baibaohe{background: url(../img/course/eq.png) no-repeat;background-size: 100%;}
table{margin:5em auto;font-size: 10px;text-align: left;}
table td{padding:0.5em;}